/** @format */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
    --bg-brand: hsl(204, 81%, 23%);
    --font-family-base: "Outfit", sans-serif;
}

body {
    font-family: var(--font-family-base);

    font-size: 18px;
}

.bg-brand {
    background-color: var(--bg-brand) !important;
}

.bg-brand-linear {
    background: linear-gradient(45deg, rgba(11, 54, 79, 1) 0%, rgba(18, 70, 100, 1) 31%, rgba(32, 101, 140, 1) 75%, rgba(8, 48, 70, 1) 100%, rgba(11, 63, 92, 1) 100%);
}

.w-40 {
    width: 40%;
}

h-500 {
    height: 500px;
}

p-6 {
    padding: 1.5rem;
}

p-7 {
    padding: 2rem;
}

gap-10 {
    gap: 2.5rem;
}

// .vt-land {
//     background-image: url("./site/static/docs/5.3/assets/logos/icon_corner-bg.png_");
// }
